In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv("Test.csv")

In [3]:
df1

   Lot_Num                 Time
0    QW234  2024/10/10/11:43:10
1    QW235  2024/10/10/11:43:11
2    QW236  2024/10/10/11:43:12
3    QW237  2024/10/10/11:43:13
4    QW238  2024/10/10/11:43:14
5    QW239  2024/10/10/11:43:15
6    QW240  2024/10/10/11:43:16
7    QW130  2024/10/10/11:43:17
8    QW126  2024/10/10/11:43:18
9    QW130  2024/10/10/11:43:19
10   QW131  2024/10/10/11:43:20
11   QW132  2024/10/10/11:43:21
12   QW136  2024/10/10/11:43:22
13   QW137  2024/10/10/11:43:23
14   QW138  2024/10/10/11:43:24
15   QW139  2024/10/10/11:43:25
16   QW140  2024/10/10/11:43:26
17   QW141  2024/10/10/11:43:27
18   QW142  2024/10/10/11:43:28
19   QW143  2024/10/10/11:43:29

In [4]:
df2=pd.read_csv("Test1.csv")

In [5]:
df2

   Lot_Num                 Time
0    QW234  2024/10/11/11:43:26
1    QW235  2024/10/11/11:43:27
2    QW236  2024/10/11/11:43:28
3    QW237  2024/10/11/11:43:29
4    QW238  2024/10/11/11:43:30
5    QW239  2024/10/11/11:43:31
6    QW240  2024/10/11/11:43:32
7    QW241  2024/10/11/11:43:33
8    QW126  2024/10/11/11:43:34
9    QW130  2024/10/11/11:43:35
10   QW131  2024/10/11/11:43:36
11   QW132  2024/10/11/11:43:37
12   QW334  2024/10/11/11:43:38
13   QW335  2024/10/11/11:43:39
14   QW336  2024/10/11/11:43:40
15   QW337  2024/10/11/11:43:41
16   QW338  2024/10/11/11:43:42
17   QW339  2024/10/11/11:43:43
18   QW340  2024/10/11/11:43:44
19   QW341  2024/10/11/11:43:45

In [24]:
# 合併表格並指定列名稱
df = pd.concat([df1, df2], ignore_index=True, axis=0)


# 顯示合併後的前幾行和總行數
print("合併後的數據：")
print(df.head())  # 顯示前五行
print(f"總行數: {len(df)}")

合併後的數據：
  Lot_Num                 Time
0   QW234  2024/10/10/11:43:10
1   QW235  2024/10/10/11:43:11
2   QW236  2024/10/10/11:43:12
3   QW237  2024/10/10/11:43:13
4   QW238  2024/10/10/11:43:14
總行數: 40

In [26]:
df

   Lot_Num                 Time
0    QW234  2024/10/10/11:43:10
1    QW235  2024/10/10/11:43:11
2    QW236  2024/10/10/11:43:12
3    QW237  2024/10/10/11:43:13
4    QW238  2024/10/10/11:43:14
5    QW239  2024/10/10/11:43:15
6    QW240  2024/10/10/11:43:16
7    QW130  2024/10/10/11:43:17
8    QW126  2024/10/10/11:43:18
9    QW130  2024/10/10/11:43:19
10   QW131  2024/10/10/11:43:20
11   QW132  2024/10/10/11:43:21
12   QW136  2024/10/10/11:43:22
13   QW137  2024/10/10/11:43:23
14   QW138  2024/10/10/11:43:24
15   QW139  2024/10/10/11:43:25
16   QW140  2024/10/10/11:43:26
17   QW141  2024/10/10/11:43:27
18   QW142  2024/10/10/11:43:28
19   QW143  2024/10/10/11:43:29
20   QW234  2024/10/11/11:43:26
21   QW235  2024/10/11/11:43:27
22   QW236  2024/10/11/11:43:28
23   QW237  2024/10/11/11:43:29
24   QW238  2024/10/11/11:43:30
25   QW239  2024/10/11/11:43:31
26   QW240  2024/10/11/11:43:32
27   QW241  2024/10/11/11:43:33
28   QW126  2024/10/11/11:43:34
29   QW130  2024/10/11/11:43:35
30   QW131  2024/10/11/11:43:36
31   QW132  2024/10/11/11:43:37
32   QW334  2024/10/11/11:43:38
33   QW335  2024/10/11/11:43:39
34   QW336  2024/10/11/11:43:40
35   QW337  2024/10/11/11:43:41
36   QW338  2024/10/11/11:43:42
37   QW339  2024/10/11/11:43:43
38   QW340  2024/10/11/11:43:44
39   QW341  2024/10/11/11:43:45

In [30]:
# 確保欄位名稱無空白字符
df.columns = df.columns.str.strip()

# 將時間欄位轉為 datetime 格式，並指定正確的格式
df['Time'] = pd.to_datetime(df['Time'], format='%Y/%m/%d/%H:%M:%S', errors='coerce')

# 依據時間升序排序，並移除重複的 Lot_Num，只保留第一次出現的記錄
df_first_sample = df.sort_values(by='Time').drop_duplicates(subset='Lot_Num', keep='first')

# 查看結果
df_first_sample

   Lot_Num                Time
0    QW234 2024-10-10 11:43:10
1    QW235 2024-10-10 11:43:11
2    QW236 2024-10-10 11:43:12
3    QW237 2024-10-10 11:43:13
4    QW238 2024-10-10 11:43:14
5    QW239 2024-10-10 11:43:15
6    QW240 2024-10-10 11:43:16
7    QW130 2024-10-10 11:43:17
8    QW126 2024-10-10 11:43:18
10   QW131 2024-10-10 11:43:20
11   QW132 2024-10-10 11:43:21
12   QW136 2024-10-10 11:43:22
13   QW137 2024-10-10 11:43:23
14   QW138 2024-10-10 11:43:24
15   QW139 2024-10-10 11:43:25
16   QW140 2024-10-10 11:43:26
17   QW141 2024-10-10 11:43:27
18   QW142 2024-10-10 11:43:28
19   QW143 2024-10-10 11:43:29
27   QW241 2024-10-11 11:43:33
32   QW334 2024-10-11 11:43:38
33   QW335 2024-10-11 11:43:39
34   QW336 2024-10-11 11:43:40
35   QW337 2024-10-11 11:43:41
36   QW338 2024-10-11 11:43:42
37   QW339 2024-10-11 11:43:43
38   QW340 2024-10-11 11:43:44
39   QW341 2024-10-11 11:43:45

In [36]:
import pandas as pd

# 假設有一個 DataFrame
data = {
    'Lot_Num': ['QW123', 'QW124', 'QW125'],
    'Start_Time': ['2024/10/10/11:43:49', '2024/10/10/12:44:00', '2024/10/10/15:44:10'],
    'End_Time': ['2024/10/12/14:43:49', '2024/10/11/13:44:00', '2024/10/12/16:44:10']
}

df = pd.DataFrame(data)

# 將時間欄位轉換為 datetime 格式
df['Start_Time'] = pd.to_datetime(df['Start_Time'], format='%Y/%m/%d/%H:%M:%S', errors='coerce')
df['End_Time'] = pd.to_datetime(df['End_Time'], format='%Y/%m/%d/%H:%M:%S', errors='coerce')

# 計算時間差
df['Time_Difference'] = df['End_Time'] - df['Start_Time']

# 將時間差轉換為天、時、分的格式並合併成一個欄位
df['Time_Difference_Formatted'] = df['Time_Difference'].apply(lambda x: f"{x.days}天 {x.components.hours}時 {x.components.minutes}分")

# 查看結果
print(df[['Lot_Num', 'Start_Time', 'End_Time', 'Time_Difference_Formatted']])

  Lot_Num          Start_Time            End_Time Time_Difference_Formatted
0   QW123 2024-10-10 11:43:49 2024-10-12 14:43:49                  2天 3時 0分
1   QW124 2024-10-10 12:44:00 2024-10-11 13:44:00                  1天 1時 0分
2   QW125 2024-10-10 15:44:10 2024-10-12 16:44:10                  2天 1時 0分